body {
    background-color: gray;
    margin-left: 15%;
    background-position: fixed;
    background-attachment: fixed;
    margin-right: 10%;
    margin: 100px;
    padding: 10px;
    text-align: left;
      }
h2 {
    color: slateblue;
    text-align: left;
  }
.educ {
    color: slateblue;
}
.pro {
    color: slateblue;
}
.acads {
    color: slateblue;
}
.rs {
    color: slateblue;
}
p {
    font-family: verdana;
    font-size: 20px;
  }
img {
    float: right;
    margin-right: 30%;
}
div {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightgray;
}
